@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,600|Montserrat+Alternates:600");
@import url("https://fonts.googleapis.com/css?family=Poppins");
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  color: #1A3455;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  color: white;
  height: 601px;
}

.Thin-header {
  height: 104px;
  width: 100%;
  background-color: #1A3455;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.top-bar {
  background-image: url('https://s3-alpha-sig.figma.com/img/09ed/b2e4/d9be4540864c52136e85d2db324a0d14?Expires=1620604800&Signature=ZTjl0uIP0e04le~B8gZRaQXMFuKEgBGQyOuxghepz-vAdje6ycrtiAZhPsvxE5wV3krf5eh32HMUbNAe3RkO0Obm225PIYoTfejN3CkjLUcMxk2nAtaXPyaoDZ-xkklVW40v4QqgUCiOEGkKsduZyEwc9wqhRDR5m6v9XMBzavzZtrMFkoXxCW9mhTs7Xo1aCuQKTAtxDPNa5tc3uRVjm8EdJTPoLuV3uXSd-jV6-SS6r7dU6Asc1yEgE5HDs1iMpK1qrMSWnSNFkg7eQgmdxIfOW17GXLs8sHnr7bY9D73ohoulRgy91WRZ5l-2fwJKKHVANHbFK0m~3Jba2kYVmg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA');
  background-size: 100% 100%;
  background-color: #d4d2d2;
  width: 100%;
  padding: 0;
}

.top-bar-overlap {
  background-color: #1A3455;
  height: 601px;
  width: 100%;
  display: inline-block;
  text-align:center;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.col, [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.tornlogga {
  padding-left: 30px;
  padding-top: 20px;
  height: 140px;
}

.tornlogga-invert {
  height: 90px;
  padding-top: 17px;
  padding-left: 36px;
}

.speltornet {
  font-family: Montserrat;
  font-weight: 600;
  color: #1a3455;
  height: 80px;
  left: 64px;
  letter-spacing: 0px;
  position: absolute;
  text-align: center;
  top: 90px;
  width: 294px;
  font-size: 40px;
  padding-left: 31px;
}

.speltornet-vit {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 34.3559px;
  line-height: 42px;
  color: #FFFFFF;
  margin-left: 5px;
  margin-top: 52px;
}

.line {
  border: none;
  height: 1px;
  background-color: #1A3455;
  margin-left: 00px;
  margin-right: 120px;
}

/* ---------------------------------------------- TEXT --------------------------------------------*/

h1 {
  font-size: 49px;
  font-family: Montserrat;
  font-weight: 700;
}

h2 {
  font-size: 39px;
  font-family: Montserrat;
  font-weight: 700;
}

h3 {
  font-size: 31px;
  font-family: Montserrat;
  font-weight: 600;
}

h4 {
  font-size: 25px;
  font-family: Montserrat;
  font-weight: 600;
}

h5 {
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 600;
}

p {
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.tagg {
  font-family: Poppins;
  font-size: 13px;
  font-weight: 400;
}

.tagg-bold {
  font-family: Poppins;
  font-size: 13px;
  font-weight: 600;
  font-weight: 700px;
}

.text-form-bottom {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 70px;
}

.form-text {
  color: #E21C64;
  margin-bottom: 30px;
}

.form-h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  color: #1A3455;
  margin-top: 30px;
}

.form-h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #1A3455;
}

.form-h5 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: #1A3455;
}

.body-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #1A3455;
}

.form-element {
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
}

.form {
  display: block;
  text-align: left;
}

.send-trade-button {
  text-align: center;
}

/*.box {
  display: inline-block;
  color: #EE387A;
  padding-top: 20px;
  padding-bottom: 20px;
  vertical-align:top;
}*/

.textarea {
  width: 641px;
  height: 108px;
  background-color: #FFFFFF;
  border: 3px solid #1A3455;
  box-sizing: border-box;
  border-radius: 10px;
}

.thin-textarea {
  width: 641px;
  height: 47px;
  background-color: #FFFFFF;
  border: 3px solid #1A3455;
  box-sizing: border-box;
  border-radius: 10px;
}

.camera-box {
  width: 112px;
  height: 118px;
  background-color: #FFFFFF;
  border: 3px solid #1A3455;
  box-sizing: border-box;
  border-radius: 10px;
  margin-right: 25px;
}

.camera {
  font-size: 40px;
  margin-top: 30px;
  margin-left: 35px;
}

.camera-text {
  font-size: 10px;
  text-align: center;
}

::-webkit-input-placeholder {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #1A3455;
  padding-top: 35px;
  padding-left: 25px;
}

:-moz-placeholder {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #1A3455;
  padding-top: 15px;
  padding-left: 25px;
}

.motto {
  font-weight: bold;
  font-family: Montserrat;
  font-size: 48px;
  text-align: center;
  margin-top: 150px;
  color: #EE387A;
  height: 74px;
}

.motto-text {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 15px;
  padding-bottom: 20px;
}

.motto-text-forts {
  font-family: Poppins;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.skapa-annons {
  background-color: #EE387A;
  border-radius: 38px;
  border-style: none;
  width: 202px;
  height: 52px;
  color: #FFFFFF;
  font-family: Montserrat;
}

.skapa-annons:hover {
  font-weight: bolder;
}

.plus {
  background-color: #EE387A;
  color: #FFFFFF;
  font-family: Montserrata;
  font-weight: bold;
}

.pink {
  color: #EE387A;
  background-color: #1A3455;
  padding: 0;
}

.speltorget {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: bold;
  color: #1A3455;
  background-color: #FFFFFF;
  padding-top: 100px;
  padding-bottom: 20px;
  padding-left: 16px;
  
}

.tornlogga-inverterad {
  padding-left: 0px;
  padding-top: 20px;
  height: 90px;
}

.container {
  padding: 20px;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
}

.col {
  text-align: center;
}

.bild {
  height: 240px;
  width: 240px;
  border-radius: 10px;
}

.spelnamn {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 22px;
  color: #1A3455;
  padding-top: 10px;
}

.body-bottom {
  width: 100%;
  padding-bottom: 100px;
  background-color: #1A3455;
  color: #FFFFFF;
  margin-top: 100px;
}

.body-bottom-header {
  text-align: center;
  padding: 70px;
  font-weight: bold;
  font-family: Montserrat;
  color: #EE387A
}

.body-bottom-text {
  font-family: Montserrat;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  line-height: 24, 38px;
  display: flex;
  text-align: left;
  margin-right: 15px;
}

.dice {
  width: 82px;
  height: 82px;
  margin-bottom: 50px;
  margin-right: 40px;
}

#dice-one {
  transform: rotate(-30.05deg);
}

#dice-two {
  transform: rotate(17.76deg);
}

#dice-three {
  transform: rotate(-19.4deg);
}

.App-footer {
  width: 100%;
  background-color: #4DBAB3;
  padding: 30px;
  position: absolute;
}

.footer-text {
  font-family: Montserrat;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  line-height: 24, 38px;
  display: flex;
  text-align: center;
}

.lines {
  position: absolute;
  top: 400px;
  color: #333;
  background-color: #333;
  width: 330px;
  height: 5px;
}

.burger {
  position: absolute;
  font-size: 35px;
  right: 20px;
  top: 20px;
  padding: 10px;
  color: #FFFFFF;
}

.burger:hover {
  color: #EE387A;
  cursor: pointer;
  border-radius: 5px;
}

/* The Close Button */

.close {
  position: relative;
  right: 20px;
  top: 10px;
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.game-modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.game-modal-content {
  width: 70%;
  height: 90%;
  background-color: #FFFFFF;
  border-radius: 20px;
}

.game-modal-header {
  background-color: #1A3455;
  padding: 10px;
  padding-top: 40px;
  border-radius: 20px 20px 0px 0px;
}

.game-modal-footer {
  padding: 10px;
}

.game-modal-title {
  color: white;
  text-align: left;
  padding-left: 50px;
}

.game-modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.box {
  display: inline-block;
  color: #EE387A;
  padding-top: 20px;
  padding-bottom: 20px;
  vertical-align: top;
  min-width: 250px;
}

.box :hover {
  cursor: pointer;
}

.game-modal-description {
  font-family: Poppins;
  color: white;
  text-align: left;
  padding-left: 50px;
}

.game-modal-cover {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  margin-bottom: 40px;
}

.game-modal-review {
  text-align: left;
  margin-left: 20px;
  color: white;
}

.star-rating {
  text-align: left;
  margin-right: 5px;
  height: 12px;
  width: 13px;
}

.changereceipt {
  width: 1272px;
  text-align: center;
}

.receipt-border {
  width: 264px;
  height: 252px;
  background-color: #1A3455;
}

.col-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.col-mid {
  width: 544px;
  height: 252px;
  border: 3px solid #1A3455;
  background-color: #FFFFFF;
}

.col-right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: Montserrat;
  font-size: 14px;
  padding-top: 43px;
  color: #FFFFFF;
}

.userimage {
  border-radius: 45px;
  height: 84px;
  width: 84px;
  margin-top: 74px;
}

.spel {
  height: 33px;
  background-color: #FFFFFF;
  border-radius: 17px;
  color: #565656;
  margin: 5px;
}

.changegame {
  padding-bottom: 30px;
}

/* ---------------------------------------------- KNAPPAR ----------------------------------------*/

.knapp {
  background-color: #EE387A;
  border-radius: 21px;
  border-style: none;
  width: 144px;
  height: 33px;
  color: #FFFFFF;
  font-family: Poppins;
  font-size: 15px;
  text-transform: uppercase;
}

.box:hover .knapp {
  background-color: #CA1758;
}

.cancel {
  background-color: #FFFFFF;
  color: #E21c64;
  width: 142px;
  height: 52px;
  border-radius: 50px;
  border: 4px solid #E21c64;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}

.send-request {
  width: 272px;
  height: 52px;
  border-radius: 50px;
  background-color: #7D7D7D;
  border: 4px solid #7D7D7D;
  color: #FFFFFF;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  align-items: right;
}

.addBottom {
  background-color: #1A3455;
  color: #FFFFFF;
  width: 100%;
  position: relative;
  bottom: 0%;
}

.addBox {
  padding-top: 5%;
  padding-bottom: 5%;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

/* ------------------------------------------- RADIO BUTTONS -------------------------------------*/

#radio {
  margin-right: 10px;
}

 :root {
  --color: #E21C64;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.radio {
  font-size: 1rem;
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.5em;
}

#radio-text {
  margin-right: 20px;
  margin-left: 10px;
}

/* Gömmer Radio button */

/* .radio__input input {   
    opacity: 0;
    width: 0;
    height: 0;  
}

.radio__input {
  display: flex;
}

:checked + .radio__control {
  background: radial-gradient(currentcolor 45%, rgba(226, 28, 100, 0) 55%);
}

.radio__control {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 0.1em solid currentColor;
  transform: translateY(-0.05em);
}

.radio__label {
  line-height: 1;
} */

.center-align {
  text-align: center;
}

.smallAdd {
  display: inline-flex;
  flex-wrap: wrap;
  color: #1A3455, 100%;
  vertical-align: top;
  width: 420px;
  height: 170px;
  border: 0px solid #E21C64;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  ;
  text-align: left;
  margin-right: 25px;
}

.smallAdd:hover {
  text-decoration: underline;
}

.addImg {
  width: 160px;
  height: 170px;
  object-position: left;
}

.location {
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  text-align: left;
  padding-top: 3px;
}

.addPresent {
  color: #1A3455;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
}

.tillbaka-knapp {
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: left;
}

.addDec {
  font-weight: bold;
  padding-top: 3px;
  padding-right: 5px;
}

.addDec:hover {
  text-decoration: underline;
}

.vbm {
  font-weight: bold;
  font-style: normal;
  font-size: 13px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: auto;
}

.vbm-tag {
  font-size: 13px;
  font-weight: 400;
  border: 0px solid #1A3455;
}

.testaren {
  border: 1px solid #E21c64;
  color: #FFFFFF;
  /* border-radius: 20px 20px 0px 0px; */
  /* padding:10px; */
}

/*------------------------------------------------------------- Detaljsida -------------------------------------------------------*/

.detailBigImage {
  width: 310px;
  height: 310px;
  border-radius: 20px 0px 0px 0px;
}

.userInfoBar {
  background-color: #1A3455;
  color: #FFFFFF;
  border-radius: 0px 20px 0px 0px;
  height: 70px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.userInfo{
  padding-left:10px;
}

.descriptionBox {
  border: 1px solid #1A3455;
  padding: 30px
}

.userProfileImg {
  width: 51px;
  height: 51px;
  border-radius: 76px;
}


.detailTitle {
  margin-top: 54px;
  margin-bottom: 23px;
}

.detailLocation {
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  text-align: right;
  padding-top: 3px;
}


/*------------------------------------------------------------- Form foldout -------------------------------------------------------*/

.gamechoice {
  border: 2px solid #6D85AA;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
}