@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,600|Montserrat+Alternates:600");
@import url("https://fonts.googleapis.com/css?family=Poppins");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  color: white;
  height: 601px;
}

.Thin-header {
  height: 104px;
  background-color: #1A3455;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.top-bar {
  background-image: url('https://s3-alpha-sig.figma.com/img/09ed/b2e4/d9be4540864c52136e85d2db324a0d14?Expires=1619395200&Signature=Ip-yFwNKI04XB77J7tV9i417UhV60sUVfHuNWK3C-LYh9Jlu~hR3v8n4MuUxFNWxWP2~7FgrrcDrGqcPsI-5B34CZYyXS71FpyBodfmmw0yoIg0VRvKeU20uCtzhjbdEQmhF-Dx4C7Pe59DkCYgOOzU~EyvoUEmhB3~vsa0Mf9Z2ysCTJiMczA-7XnRwa5sarXu1RgXtyL7w0wuZXNv6-KhuWjvTA2Ia3Yz46EQGw-YaTPfj72v6~XX2Kv~qZ0qyt2QQWDLDzaFu0jTyg-ONgdQL0U54v9EhtA0t5OunXriOCYfkX-aTHefyFKeWFGYJfCaaRb~cTbuKNiZaRUAS4g__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA');
  background-size: 100% 100%;
  background-color: #d4d2d2;

  width: 100%;
  padding: 0;
}

.top-bar-overlap {
  background-color: #1A3455;
  height: 601px;
  width: 100%;
  display: inline-block;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

}
  .col, [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}


.tornlogga {
  padding-left: 30px;
  padding-top: 20px;
  height: 140px;

}

.tornlogga-invert {
  height: 90px;
  padding-top: 17px;
  padding-left: 36px;
}

.speltornet {
  font-family: Montserrat;
  font-weight: 600;
  color: #1a3455;
  height: 80px;
  left: 64px;
  letter-spacing: 0px;
  position: absolute;
  text-align: center;
  top: 90px;
  width: 294px;
  font-size: 40px;
  padding-left: 31px;
}

.speltornet-vit {
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 34.3559px;
line-height: 42px;  
color: #FFFFFF;
margin-left: 35px;
margin-top: 52px;
}

.line {
width: 1074px;
height: 0px;
border: 1px solid #1A3455;
}

.form-h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  color: #1A3455;
}

.form-h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #1A3455;
}

.form-h3 {
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 27px;
color: #1A3455;
}

.body-text {
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #1A3455;
}

.textarea {
width: 1076px;
height: 108px;
}


.motto {
  font-weight: bold;
  font-family: Montserrat;
  font-size: 48px;
  text-align: center;
  margin-top: 150px;
  color: #EE387A; 
  height: 74px;
}

.motto-text {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 15px;
  padding-bottom: 20px;
}

.motto-text-forts {
  font-family: Poppins;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.knappannons {
  background-color: #EE387A;
  border-radius: 15px;
  border-style: none;
  width: 202px;
  height: 52px;
  color: #FFFFFF;
  font-family: Montserrat;
}

.knappannons:hover {
  font-weight: bolder;
}

.plus {
  background-color: #EE387A;
  color: #FFFFFF;
  font-family: Montserrata;
  font-weight: bold;
}

.pink {
  color: #EE387A;
  background-color: #1A3455;
  padding: 0;
}

.speltorget {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: bold;
  color: #1A3455;
  background-color: #FFFFFF;
  padding-top: 40px;
  padding-bottom: 30px;
}

.tornlogga-inverterad {
  padding-left: 0px;
  padding-top: 20px;
  height: 90px;
  
}

.container {
  padding: 20px;
}
.col {
  text-align: center;
  
}

.bild {
  height: 240px;
  width: 240px;
  border-radius: 10px;
}

.spelnamn {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 22px;
}

.knapp {
  background-color: #EE387A;
  border-radius: 15px;
  border-style: none;
  width: 125px;
  height: 32px;
  color: #FFFFFF;
  font-family: Helvetica;
}

.body-bottom {
  width: 100%;
  padding-bottom: 100px;
  background-color: #1A3455;
  color: #FFFFFF;
  margin-top: 100px;
}

.body-bottom-header {
  text-align: center;
  padding: 40px;
  margin-bottom: 20px;
  font-weight: bold;
  font-family: Montserrat;
  color: #EE387A
  
}

.body-bottom-text {
  text-align: left;
}

.dice {
  width: 82px;
  height: 82px;
  margin-bottom: 70px;
}

#dice-one {
  transform: rotate(-30.05deg);
}

#dice-two {
  transform: rotate(17.76deg);
}

#dice-three {
  transform: rotate(-19.4deg);
}

.App-footer {
  width: 100%;
  background-color: #4DBAB3; 
  padding: 30px;
}

.lines {
  position: absolute;
  top: 400px;
  color: #333;
  background-color: #333;
  width: 330px;
  height: 5px;
}

.burger {
  position: absolute;
  font-size: 35px;
  right: 20px;
  top: 20px;
  padding: 10px;
  color: #FFFFFF;
}

.burger:hover {
  color: #EE387A;
  cursor: pointer;
  border-radius: 5px;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  font-family: Helvetica;
  color: #333333;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  position: relative;
  right: 20px;
  top: 10px;
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.button {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  background-color: #EE387A;
  color: #FFFFFF;
  height: 32px;
  width: 125px;
  border-radius: 15px;
  border: none;
}

.button:hover {
  color: #1A3455;
  font-weight: bolder;
}

.gametitle {

  font-weight: bold;
  padding-top: 10px;
  padding-left: 20px;
  margin-bottom: -5px;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.cover {
  width: 150px;
  height: 150px;
  border-radius: 5px;

}

.modalrow {
  padding-top: 30px;
  padding-left: 35px;
}

.howto {
  text-align: center;
}

.userpic {
  width: 75px;
  height: 75px;
  margin-left: -35px;
}

.seller {
  margin-top: -30px;
}

.sellerinfo {
  word-wrap: break-word;
}

.game-modal {
  position: fixed;
  background-color: rgba(0,0,0,0.8);
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.game-modal-content {
  width: 70%;
  height: 90%;
  background-color: #FFFFFF;
 border-radius: 20px;
}

.game-modal-header {
  background-color: #1A3455;
  padding: 10px;
  padding-top: 40px;

  border-radius:20px 20px 0px 0px ;
}

.game-modal-footer {
  padding: 10px;
}

.game-modal-title {
  color: white;
  text-align: left;
  padding-left:50px;
}

.game-modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.box {
  display: inline-block;
  color: #EE387A;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 330px;
  margin: 30px;
  height: 300px;
  vertical-align:top;
}

.game-modal-description {
  font-family: Poppins;
  color:white;
  text-align: left;
  padding-left: 50px;
}

.game-modal-cover {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  margin-bottom: 40px;
}

.game-modal-review {
  text-align: left;
  margin-left: 20px;
  color: white;
}

.star-rating {
  text-align: left;
  margin-right: 5px;
  height: 12px;
  width: 13px;
}